<style>
background{
    color:gold
}

</style>




<h3 class="text-center">ADD A Student</h3>


<div class="container mt-5 bg-light">

    <div class="row">
        <form (ngSubmit)="savedStudent() ">
            <div class="col-6">    
                <div class="form-group">
                <label>First Name</label>
                <input type="text"
                class="form-control"            
                name="firstName" #firstName
                [(ngModel)]="newStudent.firstName"
                [ngClass]="{'is-invalid':newStudentFirstName.errors && newStudentFirstName.touched}"
                #newStudentFirstName="ngModel"
                required
                minlength="2"
                pattern= "[a-zA-Z]*"
                >
               <!--Error Messages--> 
                <div [hidden]="!newStudentFirstName.errors?.required" class="alert alert-danger invalid-feedback">
                    First Name Required
                </div>
                <div [hidden]="!newStudentFirstName.errors?.minlength" class="invalid-feedback">
                    Must be at least 2 letters long
                </div>
            
                </div>
            </div>

            <div class="col-6">
                <div class="form-group ">
                <label>Last Name</label>
                <input type="text"
                class="form-control"  
                name="lastName"
                [(ngModel)]="newStudent.lastName"
                [ngClass]="{'is-invalid':newStudentLastName.errors && newStudentLastName.touched}"
                #newStudentLastName="ngModel"
                required
                minlength="2"
                pattern= "[a-zA-Z]*"
                >
                <div [hidden]="!newStudentLastName.errors?.required" class="invalid-feedback">
                    Last Name Required
                </div>
                <div [hidden]="!newStudentLastName.errors?.minlength" class="invalid-feedback">
                    Must be at least 2 letters long
                </div>   

                </div>
            </div>

            <div class="col-6">
                <div class="form-group ">
                <label>Student Id</label>
                <input type="text"
                class="form-control"               
                name="studentId"
                [(ngModel)]="newStudent.studentID"
                
                >
                </div>
            </div>

            <div class="col-6">
                <div class="form-group ">
                <label>Email </label>
                <input type="text"
                class="form-control"
                placeholder="Email"
                name="email"
                [(ngModel)]="newStudent.email">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group ">
                <label>Grade Level: </label>
                <input type="text"
                class="form-control"
                placeholder="Grade Level"
                name="gradeLevel"
                [(ngModel)]="newStudent.gradeLevel">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group ">
                <label>Date of Birth: </label>
                <input type="text" 
                class="form-control" 
                placeholder="Date Of Birth" 
                name="dateOfBirth" 
                [(ngModel)]="newStudent.dateOfBirth">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group ">
                <label>Emergency Contact Number: </label>
                <input type="text" 
                class="form-control" 
                placeholder="Emergency Contact Number" 
                name="emergencyContactNumber" 
                [(ngModel)]="newStudent.emergencyContactNumber">
                </div>
            </div>

                <button type="submit" class="btn btn-primary">
                Add Student
                </button>
                

                <!--Takes User Back to Home Page-->
                <button type="submit" class="btn btn-outline-info"><a href="/students"></a>Home</button>
                
               
        </form>
        


    </div>

</div>

