<h3 class="text-center
">View Students</h3>

<!-- using structural directive * ngFor/ string interpolation
render our data onto the browser-->

<br>

<div class="container">

    <div class="row">
        <div class="col-4">
            <a routerLink="/add-student" class="btn btn-primary">Add Student</a>
        </div>
    </div>

    <div *ngFor="let student of students">

        <div class="card">

            <div class="card-body">

                <h5 class="card-title">
                    {{ student.firstName }}
                    <div style="float: right;">
                        
                        <a routerLink="/edit-student/{{student.id}}" class="btn btn-warning">Edit Student</a>
                        
                        
                        <button (click)="deletedStudent(student.id)" class="btn btn-danger">Delete</button>
                        
                    </div>    
                </h5>
                <h6 class="card-text">
                    {{ student.lastName }}
                </h6>
                <p class="card-text">
                    {{ student.studentID }}
                </p>
                <p class="card-text">
                    {{ student.email }}
                </p>
                <p class="card-text">
                    {{ student.gradeLevel }}
                </p>
                <p class="card-text">
                    {{ student.dateOfBirth }}
                </p>
                <p class="card-text">
                    {{ student.emergencyContactNumber }}
                </p>
              
            </div>

        </div>
    
    </div>
</div>
